@font-face {
  font-family: "Helvetica Neue";
  font-weight: 200;
  src: url("./Helvetica/HelveticaNeueCyr-UltraLight.woff2") format("woff2"),
    url("./Helvetica/HelveticaNeueCyr-UltraLight.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  src: url("./Helvetica//HelveticaNeueCyr-Roman.woff2") format("woff2"),
    url("./Helvetica/HelveticaNeueCyr-Roman.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 600;
  src: url("./Helvetica/HelveticaNeueCyr-Black.woff2") format("woff2"),
    url("./Helvetica/HelveticaNeueCyr-Black.woff") format("woff");
}
